@linkColor        : #005EEE;
@linkVisitedColor : #751A8B;
@gray-0           : #FAFAFA;
@gray-1           : #EEEEEE;
@gray-2           : #DEDEDE;
@gray-3           : #BEBEBE; // not used
@gray-4           : #999999; // not used
@gray-5           : #777777; // not used
@gray-6           : #57595C;
@gray-7           : #454545;
@gray-8           : #333333;
@gray-9           : #202122;

.responsive(@maxWidth; @content) {
  @media only screen and (max-width: @maxWidth) {
    @content();
  }
}
