@linkColor        : #005AE0;
@linkVisitedColor : #653294;
@gray-0           : #FAFAFA;
@gray-1           : #EEEEEE;
@gray-2           : #DEDEDE;
@gray-3           : #BEBEBE; // not used
@gray-4           : #999999;
@gray-5           : #777777; // not used
@gray-6           : #57595C;
@gray-7           : #454545;
@gray-8           : #333333;
@gray-9           : #111317;

.responsive(@maxWidth; @content) {
  @media only screen and (min-width: @maxWidth) {
    @content();
  }
}

.responsiveSmall(@content) {
  .responsive(576px, @content);
}
