#footer
{
  border-top: 1px solid #ddd;
  background: #FFFEFE;
  color: #999;
  text-align: center;
}

.Site-footer-links
{
  padding-bottom: 0.5em;
  margin-top: 1em;

  a
  {
    padding: 2px 5px;
    margin: 0 5px;
  }
}

.copyright
{
  margin: 0.5em 0;
  font-size: 0.87em;
}