#header
{
  background-color: @navDark;
  color: #FFF;
  height: 30px;
  letter-spacing: .05em;

  .writing &
  {
    background: @navGreen;
  }

  .about &
  {
    background: @navBlue;
  }
}
// @todo create some mixin or something dude!
@media (min-width: 570px) {
  #header
  {
    font-size: 1.063em;
  }
}

@media (min-width: 980px) {
  #header
  {
    font-size: 1.125em;
  }
}

.site-title
{
  display: block;
  float: left;
  color: #FFF;
  padding: 0 0 2px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;

  &:hover
  {
    color: #000;
    background: none;
    padding: 0 0 2px;

    .home &
    {
      color: @navYellow;
    }
  }

  @media (max-width: 979px) {
    padding: 2px 0 2px;
    &:hover {
      padding: 2px 0 2px;
    }
  }

  .first
  {
    font-weight: 700;
  }
}

#site-nav
{
  float: right;
}

.nav-links
{
  margin: 0;
  padding: 0;

  li
  {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    text-transform: lowercase;

    &:hover
    {
      background: lighten(@navDark, 10%);
      .writing &
      {
        background: lighten(@navGreen, 10%);
      }
      .about &
      {
        background: lighten(@navBlue, 10%);
      }
    }

    a
    {
      display: block;
      color: #fff;
      padding: 3px 5px;

      @media (max-width: 979px) {
        padding: 4px 5px;
      }

      &:hover
      {
        background: none;
      }
    }

    &.current
    {
      a
      {
        padding-bottom: 1px;
        border-bottom: 2px solid lighten(@navDark, 10%);
      }
    }
  }
}

.Heading
{
  .Header-title
  {
    font-size: 3em;
    line-height: 1;
    text-align: center;
    margin: 2em 0 .5em;
    text-transform: none;
  }

  .Header-caption
  {
    text-transform: none;
    text-align: center;
    font-weight: 400;
    font-size: 1.3em;

    &:before
    {
      display: block;
      height: 1px;
      background: #333;
      background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(#222),to(rgba(255,255,255,0)));
      background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),#222,rgba(255, 255, 255, 0));
      background: linear-gradient(to right,rgba(255, 255, 255, 0),#222,rgba(255, 255, 255, 0));
      max-width: 187px;
      margin: 0 auto;
      position: relative;
      top: -15px;
      content: "";
    }
  }

  .home &
  {
    background-color: #5EB06D;

    .Header-title
    {
      color: #F8FBF8;
    }

    .Header-caption
    {
      color: #326039;
    }
  }
}
