*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after
{
  content: "";
  display: table;
}
.clearfix:after
{
  clear: both;
}
.clearfix
{
  zoom: 1;
}

.Content-wrapper
{
  width: @container-width;
  max-width: @container-max-width;
  margin: 0 auto;
  padding: 0 10px;

  &:extend(.clearfix all);
}

.Content-box.Content
{
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 15px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.Content-bottom
{
  text-align: center;
  padding: 1.5em 0 0.5em;

  &:before
  {
    display: block;
    height: 1px;
    background: #DDD;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#CCC), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #CCC, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #CCC, rgba(255, 255, 255, 0));
    max-width: 87%;
    margin: 1em auto;
    content: "";
  }
}

@media (min-width: 1200px) {
    .noHomepage #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        padding-top: 1em;
        padding-bottom: 1em;

        &, .Content-wrapper, .Content-box {
            height: 100%;
        }

        .Content-box {
            margin: 0;
        }
    }
}
