// Layout
@container-width: 100%;
@container-max-width: 640px;

// Colors
@green: #57AD68;

@htmlColor: #e34f26;
@cssColor: #0171ba;
@jsColor: darken(#FCD04F, 10%);
@objcColor: #009B33;
@phpColor: darken(#C9C, 10%); //#6F41A7;
@swiftColor: #4B8AFB;

@navDark: #464C59;
@navGreen: #7CBF7C;
@navRed: #CF2A2F;
@navYellow: #FCCD67;
@navBlue: #2B9FDC;
@navBrown: #e6a57b;

// new nav
// @navYellow: #FCD68A; text: #4E4E4E

// #FAFAFA
// #EEE8D5
// A mixed between the two
@base-background: darken(#F8F7F4, 3.4%);

// Font
@base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@base-font-size: 18px;
@base-line-height: 1.6;
@base-color: #2E3239; //#4E4E4E;//#222;
@base-font-weight: 400;

@head-font-family: @base-font-family;
@head-font-weight: 600;

@monospace-font-family: Menlo, monospace;

@selection-background: #FF5E99;
@selection-color: #FFF;

// Links
@base-link-color: darken(@green, 5%);
@base-link-weight: @base-font-weight;
@base-link-color-hover: #FFF;
@base-link-bg-hover:    #495;//darken(@base-link-color, 10%);