body {
  background: #fefefe;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}
a {
  color: #000 !important;
  border-bottom: 1px solid !important;
  background: transparent !important;
  padding: 0 0 2px !important;
}
a:hover {
  border-bottom: 0 !important;
  text-decoration: none !important;
}
#sitebar {
  background: transparent !important;
}
.site-nav {
  padding-left: 40px;
  padding-right: 40px;
}
.nav-links li a {
  color: #222;
  line-height: 1;
  padding: 0 0 2px;
}
.nav-links li a:hover {
  border-bottom: 1px solid #222;
}
.nav-links li {
  padding: 0 10px 0 0;
}
.nav-links li:hover {
  background: transparent !important;
}
#header h1 {
  color: #000;
  text-transform: lowercase;
  font-weight: 400;
}
#header .description {
  color: #6f6f6f;
}
.Content-box.Content {
  border: 0;
}
#footer {
  background: transparent;
  border: 0;
}
.Site-footer-links a {
  margin: 0 10px;
}
