@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic);
@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0.7px);
    opacity: 0.98;
  }
  25% {
    -webkit-filter: blur(0px);
    opacity: 1;
  }
  50% {
    -webkit-filter: blur(0.7px);
    opacity: 0.98;
  }
  75% {
    -webkit-filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0.7px);
    opacity: 0.98;
  }
}
@-webkit-keyframes fontStyle {
  0% {
    font-style: italic;
  }
  50% {
    font-style: normal;
  }
  100% {
    text-transform: underscore;
  }
}
@-webkit-keyframes fontFamily {
  0% {
    font-family: monospace;
  }
  50% {
    font-family: sans-serif;
  }
  100% {
    font-family: Helvetica;
  }
}
@-webkit-keyframes jerk {
  50% {
    left: 5px;
  }
  51% {
    left: -5px;
  }
  52% {
    left: 0;
  }
}
body {
  color: #181010;
  background-color: #a5d684;
  font-family: 'Source Sans Pro', sans-serif;
}
body.missingPage,
body.missingPage h1 {
  position: relative;
  -webkit-animation: blur 500ms 5, jerk 1000ms 5, fontFamily 1510ms 5;
}
body.notes {
  background-color: #ffa552;
}
body.about {
  background-color: #adceef;
}
body.experiments {
  background-color: #ffe673;
}
body.tags {
  background-color: #e6a57b;
}
body.projects {
  background-color: #d6adb5;
}
body.missingPage {
  background-color: #ecdcf3;
  background-image: url(../images/missingPageBg.jpg);
}
a:hover {
  background: #a5d684;
}
.notes a:hover {
  background: #ffa552;
}
.about a:hover {
  background: #adceef;
}
.experiments a:hover {
  background: #ffe673;
}
.tags a:hover {
  background: #e6a57b;
}
.projects a:hover {
  background: #d6adb5;
}
.missingPageBg a:hover {
  background: #ecdcf3;
}
h1,
h2,
h3,
h4,
h5,
h6,
.List-text,
.List-meta {
  font-family: 'Source Sans Pro', sans-serif;
}
.List-meta .Timestamp {
  font-size: 0.85em;
}
.Post .Post-header {
  border-bottom: 2px solid #181010;
  margin-bottom: 10px;
}
.Post .Post-content {
  font-family: 'Noto Serif', Georgia, serif;
}
.Post .Tags a.Tag {
  color: #fff;
  background-color: #ffa552;
}
.Post .Tags a.Tag:hover {
  color: #fff;
  background-color: #d65231;
}
#sitebar {
  margin: 1em 0;
  color: #181010;
}
#sitebar,
.notes #sitebar,
.about #sitebar,
.experiments #sitebar,
.projects #sitebar,
.missingPage #sitebar {
  background-color: transparent;
}
#footer {
  font-size: 1.13em;
}
.experiments #footer {
  background-color: transparent;
}
.Site-footer-links {
  padding-bottom: 0;
}
.nav-links li {
  font-size: 1.1em;
}
.nav-links li a {
  color: #181010;
}
.nav-links li:hover,
.nav-links li.selected {
  background: #181010;
}
.nav-links li:hover a,
.nav-links li.selected a {
  color: #4aa55a;
}
.notes .nav-links li:hover,
.notes .nav-links li.selected {
  background: #181010;
}
.notes .nav-links li:hover a,
.notes .nav-links li.selected a {
  color: #d65231;
}
.about .nav-links li:hover,
.about .nav-links li.selected {
  background: #181010;
}
.about .nav-links li:hover a,
.about .nav-links li.selected a {
  color: #739cce;
}
.experiments .nav-links li:hover,
.experiments .nav-links li.selected {
  background: #181010;
}
.experiments .nav-links li:hover a,
.experiments .nav-links li.selected a {
  color: #d6a500;
}
.tags .nav-links li:hover,
.tags .nav-links li.selected {
  background: #181010;
}
.tags .nav-links li:hover a,
.tags .nav-links li.selected a {
  color: #ad734a;
}
.projects .nav-links li:hover,
.projects .nav-links li.selected {
  background: #181010;
}
.projects .nav-links li:hover a,
.projects .nav-links li.selected a {
  color: #7b7b94;
}
.missingPage .nav-links li:hover,
.missingPage .nav-links li.selected {
  background: #181010;
}
.missingPage .nav-links li:hover a,
.missingPage .nav-links li.selected a {
  color: #bcabbc;
}
.home #header .avatar,
img {
  border-radius: 0;
  box-shadow: 0 3px 0 #4aa55a, 3px 0 0 #4aa55a, 0 -3px 0 #4aa55a, -3px 0 0 #4aa55a, 0 3px 0 0 #4aa55a;
}
.notes .home #header .avatar,
.notes img {
  box-shadow: 0 3px 0 #d65231, 3px 0 0 #d65231, 0 -3px 0 #d65231, -3px 0 0 #d65231, 0 3px 0 0 #d65231;
}
.about .home #header .avatar,
.about img {
  box-shadow: 0 3px 0 #739cce, 3px 0 0 #739cce, 0 -3px 0 #739cce, -3px 0 0 #739cce, 0 3px 0 0 #739cce;
}
.experiments .home #header .avatar,
.experiments img {
  box-shadow: 0 3px 0 #d6a500, 3px 0 0 #d6a500, 0 -3px 0 #d6a500, -3px 0 0 #d6a500, 0 3px 0 0 #d6a500;
}
.experiments .home #header .avatar,
.experiments img {
  box-shadow: 0 3px 0 #ad734a, 3px 0 0 #ad734a, 0 -3px 0 #ad734a, -3px 0 0 #ad734a, 0 3px 0 0 #ad734a;
}
.projects .home #header .avatar,
.projects img {
  box-shadow: 0 3px 0 #7b7b94, 3px 0 0 #7b7b94, 0 -3px 0 #7b7b94, -3px 0 0 #7b7b94, 0 3px 0 0 #7b7b94;
}
.missingPage .home #header .avatar,
.missingPage img {
  box-shadow: 0 3px 0 #bcabbc, 3px 0 0 #bcabbc, 0 -3px 0 #bcabbc, -3px 0 0 #bcabbc, 0 3px 0 0 #bcabbc;
}
.home #header h1 {
  color: #4aa55a;
}
.notes .home #header h1 {
  color: #d65231;
}
.about .home #header h1 {
  color: #739cce;
}
.experiments .home #header h1 {
  color: #d6a500;
}
.tags .home #header h1 {
  color: #ad734a;
}
.projects .home #header h1 {
  color: #7b7b94;
}
.missingPage .home #header h1 {
  color: #bcabbc;
}
.Post a {
  color: #4aa55a;
  border-color: #4aa55a;
}
.Post a:hover {
  background-color: #181010;
  border-bottom: 0;
  color: #a5d684;
}
.notes .Post a {
  color: #d65231;
  border-color: #d65231;
}
.notes .Post a:hover {
  color: #ffa552;
}
.about .Post a {
  color: #739cce;
  border-color: #739cce;
}
.about .Post a:hover {
  color: #adceef;
}
.experiments .Post a {
  color: #d6a500;
  border-color: #d6a500;
}
.experiments .Post a:hover {
  color: #ffe673;
}
.tags .Post a {
  color: #ad734a;
  border-color: #ad734a;
}
.tags .Post a:hover {
  color: #e6a57b;
}
.projects .Post a {
  color: #7b7b94;
  border-color: #7b7b94;
}
.projects .Post a:hover {
  color: #d6adb5;
}
.missingPage .Post a {
  color: #bcabbc;
  border-color: #bcabbc;
}
.missingPage .Post a:hover {
  color: #ecdcf3;
}
.Content-box.Content,
.Content-box .site-nav,
#footer .Content-box {
  background-color: #f9f7f9;
  box-shadow: 0 5px 0 #181010, 5px 0 0 #181010, 0 -5px 0 #181010, -5px 0 0 #181010, 0 5px 0 0 #181010;
  border-radius: 0;
  transition: all 0.3s ease;
}
.Content-box .site-nav {
  background-color: #4aa55a;
}
.notes .Content-box .site-nav {
  background-color: #d65231;
}
.about .Content-box .site-nav {
  background-color: #739cce;
}
.experiments .Content-box .site-nav {
  background-color: #d6a500;
}
.tags .Content-box .site-nav {
  background-color: #ad734a;
}
.projects .Content-box .site-nav {
  background-color: #7b7b94;
}
.missingPage .Content-box .site-nav {
  background-color: #bcabbc;
}
.Content-bottom:before {
  background: #181010;
  height: 4px;
}
#footer {
  background-color: transparent;
  border: 0;
  margin-bottom: 1em;
}
#footer a {
  color: #a5d684;
}
#footer a:focus,
#footer a:active,
#footer a:hover {
  text-decoration: none;
  background-color: #a5d684;
  color: #181010;
}
.notes #footer a {
  color: #ffa552;
}
.notes #footer a:focus,
.notes #footer a:active,
.notes #footer a:hover {
  text-decoration: none;
  background-color: #ffa552;
  color: #181010;
}
.about #footer a {
  color: #adceef;
}
.about #footer a:focus,
.about #footer a:active,
.about #footer a:hover {
  text-decoration: none;
  background-color: #adceef;
  color: #181010;
}
.experiments #footer a {
  color: #ffe673;
}
.experiments #footer a:focus,
.experiments #footer a:active,
.experiments #footer a:hover {
  text-decoration: none;
  background-color: #ffe673;
  color: #181010;
}
.tags #footer a {
  color: #e6a57b;
}
.tags #footer a:focus,
.tags #footer a:active,
.tags #footer a:hover {
  text-decoration: none;
  background-color: #e6a57b;
  color: #181010;
}
.projects #footer a {
  color: #d6adb5;
}
.projects #footer a:focus,
.projects #footer a:active,
.projects #footer a:hover {
  text-decoration: none;
  background-color: #d6adb5;
  color: #181010;
}
.missingPage #footer a {
  color: #ecdcf3;
}
.missingPage #footer a:focus,
.missingPage #footer a:active,
.missingPage #footer a:hover {
  text-decoration: none;
  background-color: #ecdcf3;
  color: #181010;
}
#footer .Content-box {
  background-color: #6b6b6b;
  color: #a5d684;
}
.notes #footer .Content-box {
  color: #ffa552;
}
.about #footer .Content-box {
  color: #adceef;
}
.experiments #footer .Content-box {
  color: #ffe673;
}
.tags #footer .Content-box {
  color: #e6a57b;
}
.projects #footer .Content-box {
  color: #d6adb5;
}
.missingPage #footer .Content-box {
  color: #ecdcf3;
}
