@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

@white: #f9f7f9;
@white2: #ffffff;
@black: #181010;
@black2: #000000;
@gray1: #bbbbbb;
@gray2: #6b6b6b;

@green1: #a5d684;
@green2: #4aa55a;

@orange1: #ffa552;
@orange2: #d65231;

@blue1: #adceef;
@blue2: #739cce;

@brown1: #e6a57b;
@brown2: #ad734a;

@pink1: #f7b5c5;
@pink2: #e67bad;

@purple1: #ecdcf3;
@purple2: #bcabbc;//#72607d;

@yellow1: #ffe673;
@yellow2: #d6a500;

@yuk1: #d6adb5;
@yuk2: #7b7b94;

@-webkit-keyframes blur {
  0%   { -webkit-filter: blur(0.7px); opacity:0.98;}
  25%  { -webkit-filter: blur(0px); opacity:1;}
  50%  { -webkit-filter: blur(0.7px); opacity:0.98; }
  75%  { -webkit-filter: blur(0px); opacity:1; }
  100% { -webkit-filter: blur(0.7px); opacity:0.98; }
}

@-webkit-keyframes fontStyle {
  0%   { font-style: italic; }
  50%  { font-style: normal; }
  100% { text-transform: underscore; }
}
@-webkit-keyframes fontFamily {
  0%   { font-family: monospace;}
  50%  { font-family: sans-serif; }
  100% { font-family: Helvetica; }
}

@-webkit-keyframes jerk {
  50% { left:5px; }
  51% { left:-5px; }
  52% { left: 0; }
}

body {
  color: @black;
  background-color: @green1;
	font-family: 'Source Sans Pro', sans-serif;

  &.missingPage, &.missingPage h1 {
    position: relative;
    -webkit-animation: blur 500ms 5, jerk 1000ms 5, fontFamily 1510ms 5;
  }

  &.notes {
    background-color: @orange1;
  }

  &.about {
    background-color: @blue1;
  }

  &.experiments {
    background-color: @yellow1;
  }

  &.tags {
    background-color: @brown1;
  }

  &.projects {
    background-color: @yuk1;
  }

  &.missingPage {
    background-color: @purple1;
    background-image: url(../images/missingPageBg.jpg);
  }
}

a:hover {
  background: @green1;

  .notes & {
    background: @orange1;
  }

  .about & {
    background: @blue1;
  }

  .experiments & {
    background: @yellow1;
  }

  .tags & {
    background: @brown1;
  }

  .projects & {
    background: @yuk1;
  }

  .missingPageBg & {
    background: @purple1;
  }
}

h1, h2, h3, h4, h5, h6, .List-text, .List-meta {
	font-family: 'Source Sans Pro', sans-serif;
}

.List-meta .Timestamp {
	font-size: 0.85em;
}

.Post .Post-header {
  border-bottom: 2px solid @black;
  margin-bottom: 10px;
}

.Post .Post-content {
	font-family: Georgia, serif;
}

.Post .Tags a.Tag {
  color: #fff;
  background-color: @orange1;

  &:hover {
    color: #fff;
    background-color: @orange2;
  }
}

#sitebar {
  margin: 1em 0;
  color: @black;

  &,
  .notes &,
  .about &,
  .experiments &,
  .projects &,
  .missingPage & {
    background-color: transparent;
  }
}

#footer {
	font-size: 1.13em;
  .experiments & {
    background-color: transparent;
  }
}

.Site-footer-links {
	padding-bottom: 0;
}

.nav-links li {
	font-size: 1.1em;

  a {
    color: @black;
  }

  &:hover, &.selected {
    background: @black;
    a {
      color: @green2;
    }

    .notes & {
      background: @black;
      a {
        color: @orange2;
      }
    }

    .about & {
      background: @black;
      a {
        color: @blue2;
      }
    }

    .experiments & {
      background: @black;
      a {
        color: @yellow2;
      }
    }

    .tags & {
      background: @black;
      a {
        color: @brown2;
      }
    }

    .projects & {
      background: @black;
      a {
        color: @yuk2;
      }
    }

    .missingPage & {
      background: @black;
      a {
        color: @purple2;
      }
    }
  }
}

.home #header .avatar,
img {
  border-radius: 0;
  box-shadow: 0 3px 0 @green2,
              3px 0 0 @green2,
              0 -3px 0 @green2,
              -3px 0 0 @green2,
              0 3px 0 0 @green2;

  .notes & {
    box-shadow: 0 3px 0 @orange2,
                3px 0 0 @orange2,
                0 -3px 0 @orange2,
                -3px 0 0 @orange2,
                0 3px 0 0 @orange2;
  }

  .about & {
    box-shadow: 0 3px 0 @blue2,
                3px 0 0 @blue2,
                0 -3px 0 @blue2,
                -3px 0 0 @blue2,
                0 3px 0 0 @blue2;
  }

  .experiments & {
    box-shadow: 0 3px 0 @yellow2,
                3px 0 0 @yellow2,
                0 -3px 0 @yellow2,
                -3px 0 0 @yellow2,
                0 3px 0 0 @yellow2;
  }

  .experiments & {
    box-shadow: 0 3px 0 @brown2,
                3px 0 0 @brown2,
                0 -3px 0 @brown2,
                -3px 0 0 @brown2,
                0 3px 0 0 @brown2;
  }

  .projects & {
    box-shadow: 0 3px 0 @yuk2,
                3px 0 0 @yuk2,
                0 -3px 0 @yuk2,
                -3px 0 0 @yuk2,
                0 3px 0 0 @yuk2;
  }

  .missingPage & {
    box-shadow: 0 3px 0 @purple2,
                3px 0 0 @purple2,
                0 -3px 0 @purple2,
                -3px 0 0 @purple2,
                0 3px 0 0 @purple2;
  }
}

.Timestamp,
.home #header .description {
  color: inherit;
}

.home #header h1 {
  color: @green2;

  .notes & {
    color: @orange2;
  }

  .about & {
    color: @blue2;
  }

  .experiments & {
    color: @yellow2;
  }

  .tags & {
    color: @brown2;
  }

  .projects & {
    color: @yuk2;
  }

  .missingPage & {
    color: @purple2;
  }
}

.Post a {
  color: @green2;
  border-color: @green2;
  &:hover {
    background-color: #181010;
    border-bottom: 0;
    color: @green1;
  }

  .notes & {
    color: @orange2;
    border-color: @orange2;
    &:hover {
      color: @orange1;
    }
  }

  .about & {
    color: @blue2;
    border-color: @blue2;
    &:hover {
      color: @blue1;
    }
  }

  .experiments & {
    color: @yellow2;
    border-color: @yellow2;
    &:hover {
      color: @yellow1;
    }
  }

  .tags & {
    color: @brown2;
    border-color: @brown2;
    &:hover {
      color: @brown1;
    }
  }

  .projects & {
    color: @yuk2;
    border-color: @yuk2;
    &:hover {
      color: @yuk1;
    }
  }

  .missingPage & {
    color: @purple2;
    border-color: @purple2;
    &:hover {
      color: @purple1;
    }
  }
}

.Content-box.Content,
.Content-box .site-nav,
#footer .Content-box {
  background-color: @white;
  // border: 2px solid;
  box-shadow: 0 5px 0  @black, 5px 0 0  @black, 0 -5px 0  @black, -5px 0 0  @black, 0 5px 0 0 @black;
  border-radius: 0;
  // box-shadow: 8px 8px rgba(46, 50, 57, 0.8);
  transition: all 0.3s ease;
}

.Content-box .site-nav {
  background-color: @green2;

  .notes & {
    background-color: @orange2;
  }

  .about & {
    background-color: @blue2;
  }

  .experiments & {
    background-color: @yellow2;
  }

  .tags & {
    background-color: @brown2;
  }

  .projects & {
    background-color: @yuk2;
  }

  .missingPage & {
    background-color: @purple2;
  }
}

.Content-bottom:before {
  background: #181010;
  height: 4px;
}

#footer {
  background-color: transparent;
  border: 0;
  margin-bottom: 1em;

  a {
    color: @green1;
    &:focus, &:active, &:hover {
      text-decoration: none;
      background-color: @green1;
      color: @black;
    }

    .notes & {
      color: @orange1;
      &:focus, &:active, &:hover {
        text-decoration: none;
        background-color: @orange1;
        color: @black;
      }
    }

    .about & {
      color: @blue1;
      &:focus, &:active, &:hover {
        text-decoration: none;
        background-color: @blue1;
        color: @black;
      }
    }

    .experiments & {
      color: @yellow1;
      &:focus, &:active, &:hover {
        text-decoration: none;
        background-color: @yellow1;
        color: @black;
      }
    }

    .tags & {
      color: @brown1;
      &:focus, &:active, &:hover {
        text-decoration: none;
        background-color: @brown1;
        color: @black;
      }
    }

    .projects & {
      color: @yuk1;
      &:focus, &:active, &:hover {
        text-decoration: none;
        background-color: @yuk1;
        color: @black;
      }
    }

    .missingPage & {
      color: @purple1;
      &:focus, &:active, &:hover {
        text-decoration: none;
        background-color: @purple1;
        color: @black;
      }
    }
  }

  .Content-box {
    background-color: @gray2;
    color: @green1;

    .notes & {
      color: @orange1;
    }

    .about & {
      color: @blue1;
    }

    .experiments & {
      color: @yellow1;
    }

    .tags & {
      color: @brown1;
    }

    .projects & {
      color: @yuk1;
    }

    .missingPage & {
      color: @purple1;
    }
  }
}
