@import 'style';

.editor {
  background-color: #FFF6E6;
}

#header .avatar {
  border-radius: 0;
  border: 5px solid;
}

.Content-box.Content {
  border: 0;
  border-radius: 0;
  box-shadow: 10px 10px #999;
}

.Post-List {
  margin: 0 -15px;
  padding: 0;

  .List-item {
    margin: 0;
    padding: 1.55em 0 0;
    background: #fff;
    &:first-child {
      padding-top: 0;
    }

    .List-meta, .List-text a {
      padding-right: 1em;
      padding-left: 1em;
    }

    .List-text:hover {
      box-shadow: 10px 10px #555;
    }

    a {
      display: block;
      padding: 2px 0;
    }
  }
}

.Tags {
  a.Tag {
    border: 2px solid @navGreen;
    background-color: #fff;
    color: #444;
    box-shadow: 3px 3px fade(@base-color, 50);

    &:hover {
      color: #fff;
      background-color: @navGreen;
      box-shadow: 3px 3px fade(@base-color, 70);
    }
  }
}

.Content-bottom {
  background: #fff;
  margin:0 -15px;
}

@media (min-width: 1024px) {
  .site-nav {
    border-radius: 0;
    box-shadow: 10px 10px #999;

    .notes &
    {
      background: @navGreen;
    }

    .about &
    {
      background: @navBlue;
    }

    .tags &
    {
      background: @navBrown;
    }

    .experiments &
    {
      background: @navYellow;
    }
  }

  .nav-links li {
    background: @navDark;

    .notes &
    {
      background: @navGreen;
    }

    .about &
    {
      background: @navBlue;
    }

    .tags &
    {
      background: @navBrown;
    }

    .experiments &
    {
      background: @navYellow;
    }

    &:hover {
      box-shadow: 10px 10px #555;
    }
  }
}