@import 'style';

.Content-box.Content {
  border-radius: 0;
  box-shadow: 10px 10px #999;
}

@media (min-width: 1024px) {
  .site-nav {
    border-radius: 0;
    box-shadow: 10px 10px #999;

    .notes &
    {
      background: @navGreen;
    }

    .about &
    {
      background: @navBlue;
    }

    .tags &
    {
      background: @navBrown;
    }

    .experiments &
    {
      background: @navYellow;
    }
  }

  .nav-links li {
    background: @navDark;

    .notes &
    {
      background: @navGreen;
    }

    .about &
    {
      background: @navBlue;
    }

    .tags &
    {
      background: @navBrown;
    }

    .experiments &
    {
      background: @navYellow;
    }

    &:hover {
      box-shadow: 10px 10px #555;
    }
  }
}