atom-text-editor,
.editor,
:host,
atom-text-editor::shadow {
  background-color: rgba(147, 128, 108, 0.05);
  color: #333333;
}
atom-text-editor .invisible-character,
.editor .invisible-character,
:host .invisible-character,
atom-text-editor::shadow .invisible-character,
atom-text-editor .indent-guide,
.editor .indent-guide,
:host .indent-guide,
atom-text-editor::shadow .indent-guide,
atom-text-editor .invisible,
.editor .invisible,
:host .invisible,
atom-text-editor::shadow .invisible,
atom-text-editor .wrap-guide,
.editor .wrap-guide,
:host .wrap-guide,
atom-text-editor::shadow .wrap-guide {
  color: #e8e9e8;
}
atom-text-editor .gutter,
.editor .gutter,
:host .gutter,
atom-text-editor::shadow .gutter {
  background: #f9f9f9;
  border-right: 1px solid #ededed;
  color: #b39ba8;
  margin-right: 6px;
}
atom-text-editor .gutter.git-diff-icon .line-number.git-line-added:before,
.editor .gutter.git-diff-icon .line-number.git-line-added:before,
:host .gutter.git-diff-icon .line-number.git-line-added:before,
atom-text-editor::shadow .gutter.git-diff-icon .line-number.git-line-added:before {
  color: #63a35c;
}
atom-text-editor .gutter.git-diff-icon .line-number.git-line-modified:before,
.editor .gutter.git-diff-icon .line-number.git-line-modified:before,
:host .gutter.git-diff-icon .line-number.git-line-modified:before,
atom-text-editor::shadow .gutter.git-diff-icon .line-number.git-line-modified:before {
  color: #df5000;
}
atom-text-editor .gutter .line-number.folded,
.editor .gutter .line-number.folded,
:host .gutter .line-number.folded,
atom-text-editor::shadow .gutter .line-number.folded,
atom-text-editor .gutter .line-number:after,
.editor .gutter .line-number:after,
:host .gutter .line-number:after,
atom-text-editor::shadow .gutter .line-number:after,
atom-text-editor .fold-marker:after,
.editor .fold-marker:after,
:host .fold-marker:after,
atom-text-editor::shadow .fold-marker:after {
  color: rgba(226, 67, 0, 0.4);
}
atom-text-editor .line-number.cursor-line-no-selection,
.editor .line-number.cursor-line-no-selection,
:host .line-number.cursor-line-no-selection,
atom-text-editor::shadow .line-number.cursor-line-no-selection,
atom-text-editor .selection .region,
.editor .selection .region,
:host .selection .region,
atom-text-editor::shadow .selection .region {
  background-color: #fbf7cd;
}
atom-text-editor .cursor,
.editor .cursor,
:host .cursor,
atom-text-editor::shadow .cursor {
  border-color: #333333;
}
atom-text-editor .find-result .region,
.editor .find-result .region,
:host .find-result .region,
atom-text-editor::shadow .find-result .region,
atom-text-editor .highlights .ruby-block-highlight .region,
.editor .highlights .ruby-block-highlight .region,
:host .highlights .ruby-block-highlight .region,
atom-text-editor::shadow .highlights .ruby-block-highlight .region {
  background-color: #fbf7cd;
  border: 1px solid #ffe132;
  border-radius: 2px;
}
atom-text-editor .line.cursor-line,
.editor .line.cursor-line,
:host .line.cursor-line,
atom-text-editor::shadow .line.cursor-line {
  background-color: rgba(0, 0, 0, 0.02);
}
atom-text-editor .bracket-matcher .region,
.editor .bracket-matcher .region,
:host .bracket-matcher .region,
atom-text-editor::shadow .bracket-matcher .region {
  background-color: #fbf7cd;
  border: 1px solid #ffe132;
  border-radius: 2px;
}
.comment {
  color: #b39ba8;
}
.comment .xxx,
.comment .yard,
.comment .todo,
.comment .fixme,
.comment .changed,
.comment .idea,
.comment .hack,
.comment .note {
  color: #9f8191;
}
.string .punctuation.section.embedded,
.string .punctuation.section.embedded .source,
.string {
  color: #183691;
}
.string .meta.embedded.line,
.string .source {
  color: #333333;
}
.constant.numeric,
.constant.other.symbol,
.constant.language {
  color: #0086b3;
}
.constant.character {
  color: #63a35c;
}
.constant.other {
  color: #333333;
}
.variable.parameter,
.variable.punctuation.separator,
.variable.other.object > .punctuation,
.variable.other.block,
.variable {
  color: #333333;
}
.keyword.other,
.keyword.control,
.keyword,
.keyword.special-method,
.keyword.operator,
.keyword.unit {
  color: #a71d5d;
  font-weight: bold;
}
.entity.name.function,
.entity.other.attribute-name,
.entity.other.inherited-class.punctuation,
.entity.other.inherited-class,
.entity.name.class {
  color: #945277;
}
.support.class,
.support.constant,
.support.function,
.support.type {
  color: #0086b3;
}
.markup.deleted {
  background-color: #ffdddd;
  color: #ffaaaa;
}
.markup.inserted {
  color: #80c875;
  background-color: #ddffe0;
}
.invalid {
  background-color: #ffdddd;
  color: #e07373;
}
.invalid.deprecated {
  color: #cdb944;
  background-color: #fbf7cd;
}
.meta.structure.dictionary.json > .string.quoted.double.json,
.meta.structure.dictionary.json > .string.quoted.double.json .punctuation.string {
  color: #63a35c;
}
.meta.structure.dictionary.value.json > .string.quoted.double.json,
.meta.structure.dictionary.value.json > .string.quoted.double.json > .punctuation {
  color: #183691;
}
.meta.diff,
.meta.diff.header {
  color: #969896;
}
.css.meta.selector,
.less.meta.selector,
.scss.meta.selector,
.css.support.function,
.less.support.function,
.scss.support.function {
  size: 100px;
  color: #945277;
}
.coffee.assignment.variable,
.yaml.entity.name,
.html.entity.tag,
.slim.entity.name.tag,
.haml.entity.name.tag {
  color: #63a35c;
}
.js.type.class {
  color: #945277;
}
.js.varabile.language {
  color: #0086b3;
}
::selection {
  background: #FF5E99;
  color: #FFF;
  text-shadow: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #2E3239;
  background: #f1efe9;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
}
ul {
  list-style-type: square;
}
li {
  line-height: 1.5em;
  margin: 0 0 0.5em;
}
.List {
  list-style: none;
  margin: 0 10px;
  padding: 0 10px;
}
.List-item {
  padding: 0 0 0.55em;
  margin: 0 0 1.00em;
}
.List-item .List-text a {
  border-bottom: 0;
}
a {
  text-decoration: none;
  color: #4d9e5d;
  font-weight: 400;
}
a:hover {
  color: #fff;
  background: #495;
  padding: 2px 0;
}
blockquote {
  position: relative;
  margin: 1.5em 0 1.5em 0;
  padding: 0.5em 1.6em;
  border-left: #4A4A4A 1em solid;
  color: #3e434d;
  background-color: #FAFAFA;
}
blockquote:before {
  position: absolute;
  top: 0;
  left: -19px;
  content: "“";
  font-size: 40px;
  font-weight: 700;
  color: #FFF;
}
p {
  margin: 1.5em 0;
}
hr {
  display: none;
}
.Text-truncate {
  max-width: 100%;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  word-wrap: normal!important;
}
.Timestamp {
  color: #333333;
  display: inline-block;
  font-size: .75em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
b,
strong {
  font-weight: 600;
}
del {
  color: #5c6471;
  font-style: italic;
}
pre,
code {
  font-family: Menlo, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
}
pre {
  display: block;
  background-color: #f7f8f7;
  color: #414141;
  font-size: 0.87em;
  line-height: 1.45;
  padding: 10px 30px;
  margin: 1.5em 0;
  border-radius: 0px;
  overflow-x: scroll;
  white-space: pre;
  border-left: 3px solid rgba(65, 65, 65, 0.2);
}
pre:before {
  display: block;
  content: attr(rel);
  letter-spacing: 1px;
  font-size: 0.95em;
  padding-bottom: 5px;
  text-transform: uppercase;
}
p > code {
  display: inline-block;
  background-color: #E2E3E2;
  color: #414141;
  padding: 0.2em 0.3em;
  border-radius: 0;
  border-left: 2px solid #7CBF7C;
  font-size: 0.84em;
  line-height: 1;
}
[rel="html"] {
  border-left-color: #e34f26;
}
[rel="html"]:before {
  color: #e34f26;
}
[rel="css"] {
  border-left-color: #0171ba;
}
[rel="css"]:before {
  color: #0171ba;
}
[rel="javascript"] {
  border-left-color: #fbc31d;
}
[rel="javascript"]:before {
  color: #fbc31d;
}
[rel="objective-c"] {
  border-left-color: #009B33;
}
[rel="objective-c"]:before {
  color: #009B33;
}
[rel="php"] {
  border-left-color: #bb77bb;
}
[rel="php"]:before {
  color: #bb77bb;
}
[rel="swift"] {
  border-left-color: #4B8AFB;
}
[rel="swift"]:before {
  color: #4B8AFB;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after,
.Content-wrapper:before,
.Content-wrapper:after {
  content: "";
  display: table;
}
.clearfix:after,
.Content-wrapper:after {
  clear: both;
}
.clearfix,
.Content-wrapper {
  zoom: 1;
}
.Content-wrapper {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}
.Content-box.Content {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 15px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.Content-bottom {
  text-align: center;
  padding: 1.5em 0 0.5em;
}
.Content-bottom:before {
  display: block;
  height: 1px;
  background: #DDD;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#CCC), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #CCC, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #CCC, rgba(255, 255, 255, 0));
  max-width: 87%;
  margin: 1em auto;
  content: "";
}
.noHomepage #header {
  display: none;
}
@media (min-width: 1200px) {
  .noHomepage #header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .noHomepage #header,
  .noHomepage #header .Content-wrapper,
  .noHomepage #header .Content-box {
    height: 100%;
  }
  .noHomepage #header .Content-box {
    margin: 0;
  }
}
img {
  max-width: 100%;
}
img.alignright {
  float: right;
}
img.alignleft {
  float: left;
}
figure {
  margin: 0 0 1em;
  padding: 10px;
  background: #F4F4F4;
  text-align: center;
}
figure img {
  display: inline-block;
  padding: 5px;
  background: #FEFEFE;
  border-radius: 3px;
  vertical-align: top;
}
figure figcaption {
  margin: 0.65em 0;
  font-size: 0.9em;
  font-style: italic;
  color: #444;
}
#sitebar {
  background-color: #464C59;
  color: #FFF;
  letter-spacing: .05em;
}
#sitebar .Content-box {
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.notes #sitebar {
  background: #7CBF7C;
}
.about #sitebar {
  background: #2B9FDC;
}
.tags #sitebar {
  background: #e6a57b;
}
.experiments #sitebar {
  background: #FCCD67;
}
@media (min-width: 570px) {
  #sitebar {
    font-size: 1.063em;
  }
}
@media (min-width: 980px) {
  #sitebar {
    font-size: 1.125em;
  }
}
.nav-links {
  margin: 0;
  padding: 0;
}
.nav-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  text-transform: lowercase;
}
.nav-links li:hover {
  background: #5c6476;
}
.notes .nav-links li:hover {
  background: #9ed09e;
}
.about .nav-links li:hover {
  background: #57b3e3;
}
.tags .nav-links li:hover {
  background: #eec2a6;
}
.experiments .nav-links li:hover {
  background: #fddd99;
}
.nav-links li a {
  display: block;
  color: #fff;
  padding: 5px;
}
@media (max-width: 979px) {
  .nav-links li a {
    padding: 4px 5px;
  }
}
.nav-links li a:hover {
  background: none;
}
.nav-links li.current a {
  padding-bottom: 1px;
  border-bottom: 2px solid #5c6476;
}
#header h1 {
  font-size: 3em;
  line-height: 1;
  margin: .3em 0;
  text-transform: uppercase;
  text-align: center;
  color: #3f9c4f;
}
#header .Header-title {
  font-size: 3em;
  line-height: 1;
  text-align: center;
  margin: 0.5em 0;
  text-transform: none;
}
#header .Header-caption {
  text-transform: none;
  text-align: center;
  font-weight: 400;
  font-size: 1.3em;
}
#header .Header-caption:before {
  display: block;
  height: 1px;
  background: #333;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#222), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #222, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #222, rgba(255, 255, 255, 0));
  max-width: 187px;
  margin: 0 auto;
  position: relative;
  top: -15px;
  content: "";
}
#header .avatar {
  display: block;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
}
#header .description {
  text-align: center;
  display: block;
  font-weight: 500;
  color: #5A6772;
}
.about #header {
  background-position: bottom center;
  color: #fff;
}
.Post-List .Post-title {
  font-size: 1.3em;
  line-height: 1.6;
}
.Post {
  margin-bottom: 50px;
}
.Post:last-child {
  margin-bottom: 0;
}
.Post h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #EEE;
}
.Post a {
  border-bottom: 1px solid #495;
}
.Post .Post-header,
.Post .Post-footer {
  position: relative;
  margin: 0 30px;
  padding: 20px 0;
}
.Post .Post-header {
  margin-bottom: 0;
  border-bottom: 1px solid #EEE;
}
.Post .Post-footer {
  margin-top: 0;
  padding-top: 0;
}
.Post .Post-title,
.Post .Post-meta {
  margin: 0;
}
.Post .Post-title {
  text-transform: none;
}
.Post .Post-header .Post-title {
  font-size: 2em;
  font-weight: 700;
}
.Post .Post-content {
  position: relative;
  font-size: 1.1em;
}
@media (max-width: 720px) {
  .Post .Post-content {
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
  }
}
.Post .Post-content > p,
.Post .Post-content > h1,
.Post .Post-content > h2,
.Post .Post-content > h3,
.Post .Post-content > h4,
.Post .Post-content > h5,
.Post .Post-content > h6 {
  padding-left: 30px;
  padding-right: 30px;
}
.Post .Post-content > p.Tag-title,
.Post .Post-content > h1.Tag-title,
.Post .Post-content > h2.Tag-title,
.Post .Post-content > h3.Tag-title,
.Post .Post-content > h4.Tag-title,
.Post .Post-content > h5.Tag-title,
.Post .Post-content > h6.Tag-title {
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom-color: #888;
}
.Post .Post-content > pre {
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
}
.Post .Post-content p:first-of-type {
  margin-top: 0;
}
.Post .Post-content blockquote p:last-of-type {
  margin-bottom: 0;
}
.Tags {
  margin: 0 10px;
}
.Tags a.Tag {
  display: inline-block;
  color: #fff;
  font-size: .95em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  margin: 0 5px 0 0;
  padding: 2px 5px;
  background-color: #9ed09e;
  border-bottom: 0;
}
.Tags a.Tag:hover {
  cursor: pointer;
  background: #6bb76b;
  padding: 2px 5px;
}
.Tag-title a {
  border: 0;
  font-weight: 700;
  color: #444;
}
.Tag-title a:hover {
  color: #fff;
}
.Post-signature {
  text-align: right;
  margin: 0;
}
#footer {
  border-top: 1px solid #ddd;
  background: #404040;
  font-size: .87em;
  color: #999;
  margin-top: 1em;
}
#footer .Content-box {
  text-align: center;
  padding: 1em;
}
#footer a {
  padding-bottom: 1px;
  border: 0;
  color: #E5E5E5;
}
#footer a:focus,
#footer a:active,
#footer a:hover {
  color: #fff;
  text-decoration: underline;
  background-color: transparent;
}
.Site-footer-links {
  padding-bottom: 0.5em;
}
.Site-footer-links a {
  padding: 2px 5px;
  margin: 0 5px;
}
.copyright {
  margin: 0.5em 0;
  font-size: 0.87em;
}
.experiments #footer {
  background: #404040;
  color: #999;
  font-size: .87em;
  text-align: center;
}
.experiments #footer a {
  padding-bottom: 1px;
  border: 0;
  color: #E5E5E5;
}
.experiments #footer a:focus,
.experiments #footer a:active,
.experiments #footer a:hover {
  color: #fff;
  text-decoration: underline;
  background-color: transparent;
}
body.projects {
  color: #4B4B4B;
  background-color: #FFFFFF;
}
body.projects #header {
  background-color: #F6F4EE;
  line-height: 70px;
}
body.projects #header h1 {
  text-transform: lowercase;
  font-size: 1.8em;
  font-weight: 500;
  float: left;
  margin: 0;
}
body.projects #header .madeBy {
  float: right;
  font-size: .87em;
}
