#footer {
  font-size: 0.87rem;
  text-align: center;

  #footer-nav {
    padding: 1rem 0;

    .item {
      padding: 0 0.25rem;

      &:not(:last-of-type):after {
        display: inline-block;
        margin: 0 0 0 .5rem;
        content: "•"
      }
    }
  }

  section {
    padding: 0;
  }
}
