h1 The page cannot be found
p The requested URL #[span#__404_path] was not found on this server.
script.
  document.getElementById('__404_path').innerText = window.location.pathname + window.location.search;
