- notes = partial('_shared/notes', { limit: 8 })

block header
  header
    .container
      .content
        .hero
          h1 Welling Guzman
          p Welcome! I'm a software engineer in Berlin, and this is my personal website.

  hr#hr-header

.box
  h3 Latest notes
  include ./_shared/list
  p
    a(href="/notes") All notes
