- posts = partial('_shared/posts', { postlimit: 8 })

p.title Latest notes
ul.List.Post-List
  - post = posts.shift();
  while post
    li.List-item
      .List-meta: time.Timestamp #{moment(post.date).format('MMMM DD, YYYY')}
      .List-text: a(href="#{post.url_relative}") #{post.title}
    - post = posts.shift();

.Content-bottom
  a.Button(href="/notes") All notes
