block header
  .hero
    p Welcome! My name is Welling I'm a web programmer and this is my personal website. In this space can mostly be found notes from things I have learned, and have interest in.

h2 Latest notes
!= partial('./_shared/list', { displayYear: false, notes: partial('_shared/data/notes', { limit: 8 }) })
p
  a(href="/notes") All notes
