.comfy-outfit {
  @mainColor: #1AAF5C;
  @pinkColor: #EF89B8;
  @pinkStrongColor: #FF5E99;
  @yellowColor: #FCE496;
  @gray :#848484;
  @darkGray: darken(@gray, 10%);
  @lightGray: #D1D2D3;
  @lighterGray: #E0E0E0;
  @blue: #51C0F1;

  ::selection {
    background: @pinkColor;
  }

  body& {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: #000000;
    line-height: 1.5;

    &.lab {
      background-color: lighten(@pinkColor, 25%);
    }
  }

  @import '../vendor/_minimal_theme';

  .highlight {
    background: #FFEEAA;
  }

  .text-center {
    text-align: center;
  }

  ul {
    padding: 0 0 0 1.5rem;
    margin: 0 0 1.5rem;

    li {
      list-style-type: square;
    }
  }

  figure {
    text-align: center;
  }

  figcaption {
    text-align: center;
    color: @gray;
    font-size: 0.87rem;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      border-top: 1px solid @lightGray;
    }

    th, td {
      border: 1px solid @lightGray;
      padding: 0.33rem 0.66rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.10;
  }

  &.tags {
    h1, h2 {
      text-align: center;
      font-size: 1rem;
    }

    h2 {
      font-weight: normal;
    }

    .Tag-title {
      margin: 2rem 0 1rem;
    }

    .List {
      margin: 0 0 1rem;
    }
  }

  section {
    padding: 1rem 1.75rem;

    .title {
      text-align: center;
      margin-top: 0;
    }

    h1 {
      font-size: 2.7rem;
      margin: 0 0 0.25em;
    }
  }

  a {
    color: @mainColor;
    text-decoration: none;
    border-bottom: 1px dotted;

    &:hover {
      background: @mainColor;
      color: #FFFFFF;
      border-bottom: none;

      code {
        background: @mainColor;
      }
    }
  }

  &.lab {
    a {
      color: @pinkStrongColor;

      &:hover {
        background: @pinkStrongColor;
        color: #FFFFFF;
      }
    }
  }

  .Button {
    border: 1px solid;
    padding: 0.25rem 0.7rem;
    font-size: 0.87rem;
  }

  #sitebar, #header, #footer, .List, .Tags {
    a {
      border-bottom: 0;
    }
  }

  &.hire-me #MyFace {
    width: 200px;
    margin: 1.5rem auto;
  }

  pre, code, .editor {
    background: #F6F6F8;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Monaco, "Lucida Console", "Courier New", Courier, monospace, serif;
    font-size: 0.87rem;
  }

  p code {
    padding: 2px 4px;
    border-radius: 3px;
  }

  pre {
    padding: 1rem;
    margin: 1.5rem 0;
    overflow: auto;
  }

  blockquote {
    border-left: 2px solid @lightGray;
    padding: 0 1rem;
    color: @darkGray;
    margin: 0 0.5rem;

    p:first-of-type {
      margin-top: 0;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .container, hr#hr-footer {
    max-width: 600px;
  }

  hr {
    display: none;
    border: 0;
    margin: 0 auto;
  }

  hr#hr-footer {
    display: block;
    border-top: 2px solid @lightGray;
  }

  .post-nav {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;

    .post-nav-item {
      width: 33.33%;

      text-align: center;

      &.post-nav-prev {
        text-align: left;
      }

      &.post-nav-next {
        text-align: right;
      }
    }

    a {
      display: inline-block;
      border-bottom: none;
      margin: 0.5rem 0.5rem 0;
    }
  }

  #main {
    padding: 0;
  }

  #main-nav {
    padding: 0;
    text-align: center;
    font-size: 0.938rem;

    a {
      margin: 0 0.75rem;
    }
  }

  .List {
    padding: 0;

    .List-item {
      display: flex;
      flex-wrap: nowrap;

      &.external {
        time {
          color: @blue;
        }
        a {
          color: @pinkColor;

          &:hover {
            background: @pinkColor;
            color: #FFFFFF;
          }
        }
      }
    }

    .List-meta {
      display: inline-block;
      margin: 0 1.5rem 0 0;
      color: @gray;
      text-align: right;
      flex: 0 0 170px;
    }

    .responsive(500px, {
      .List-item {
        display: block;
      }

      .List-meta,
      .List-text {
        width: 100%;
        text-align: left;
      }
    });
  }

  header#header {
    text-align: center;

    #name {
      text-transform: uppercase;
      margin: 0 0 0.5rem;
      font-size: 1.4rem;
    }

    #description {
      display: block;
      margin: 0;
      color: @gray;
    }

    section {
      padding: 1rem;
    }
  }

  h1, h2, h3 {
    font-weight: 600;
  }

  .Post {
    header {
      margin: 0 0 1rem;
      padding: 0 0 1rem;
      border-bottom: 1px solid @lightGray;
    }

    h1 {
      &.List-Title {
        margin-bottom: 1em;
      }
    }

    h2 {
      margin-top: 1.5em;
    }

    .Post-meta {
      color: @gray;
      font-size: 0.938em;
    }
  }

  &.lab .Post h1 {
    border-bottom-color: @pinkColor;
  }

  .Post-meta {
    .Tags {
      display: inline;
      margin-left: 0.25em;

      .Tag {
        margin-left: 0.5rem;
        color: @gray;

        &:before {
          content: "#";
        }

        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }
  .Content-bottom {
    text-align: center;
    margin: 0;
  }

  #footer {
    text-align: center;
    font-size: 0.875rem;
    color: @gray;

    a {
      margin: 0 0.45rem;
    }

    .responsive(500px, {
      li {
        display: block;
        padding: 0.45rem 0;
      }
    });
  }

  &.lab #footer ul {
    border-top-color: @pinkColor;
  }

  &.hire-me {
    h1 {
      margin: 0 0 0.5rem;
      font-weight: 700;
      text-align: center;
    }

    p {
      margin: 0 0 1rem;
    }
  }
}

a.link-twitter:hover {
  background: #1da1f2;
}
a.link-github:hover {
  background: #24292e;
}
