extends ../_shared/layout

block content
  section
    article.Post.Experiment
      if current.source != 'index'
        header.Post-header
          h1.Post-title
            | #{title}
          .Post-meta
            - var authorList = authors.map(function(o){ return o.name; }).join(', ');
            span.madeBy Made by
            span.madeByName
              strong #{authorList}
      != yield
