extends ../_shared/layout

block content
  section
    article.Post
      if current.source != 'index'
        header.Post-header
          h1.Post-title
            | #{title}
          .Post-meta
            - var authorList = authors.map(function(o){ return o.name; }).join(', ');
            span Made by
              strong #{authorList}
      != yield
