extends ../_shared/layout

block content
  section
    article.Post.Experiment
      if current.source != 'index'
        h1.Post-title
          | #{title}
        .Post-meta
          strong Published: 
          span.Timestamp #{moment(date).format('dddd, MMMM Do, YYYY')}
      != yield
