#sitebar
  .container
    section
      nav.menu
        ul.nav-links
          if(main_nav)
            each url, label in main_nav
              - selected = '';
              - if (current.path[0] == label || (current.path[0] == 'experiments' && label == 'lab') || (current.path[0] == 'index' && label == 'home')) {
              -   selected = 'selected';
              - }
              li(class="#{selected}"): a(href="#{url}") #{label}

hr
