#sitebar
  .container
    section
      nav.menu
        ul.nav-links
          if(main_nav)
            each url, label in main_nav
              - selected = '';
              - path = current.path[0].replace(/\-/g, ' ');
              - if (path == label || (path == 'experiments' && label == 'lab') || (path == 'index' && label == 'home')) {
              -   selected = 'selected';
              - }
              li(class="#{selected}"): a(href="#{url}") #{label}

hr
