// Nav
#main-nav,
#footer-nav {
  .item {
    margin-right: 0.5rem;
  }
}

.note-nav {
  display        : flex;
  justify-content: space-between;
  padding        : 1rem 0;

  .note-nav-item {
    width: 33.33%;
  }

  .note-nav-prev {
    text-align: left;
  }

  .note-nav-index {
    text-align: center;
  }

  .note-nav-next {
    text-align: right;
  }
}
