footer#about
  .Content-wrapper
    .Content-box.Content
        img.avatar(src="https://s.gravatar.com/avatar/9f5d2035d532a617a9146c358c9534e9?s=200")
        .text
          h3 About me
          p My name is Welling, I'm a Software Engineer from The Dominican Republic.
          | Building and recreating things are my passion. 
          a(href="#{footer_nav.Twitter}") You can follow me on Twitter
          |  and 
          a(href="#{footer_nav.GitHub}") GitHub
          |.