footer(id="footer")
  .Content-wrapper
    .Content-box
      .Site-footer-links
        - var index = 0;
        each url, label in footer_nav
          if index > 0
            | • 
          a(href="#{url}") #{label} 
          - index++;
      .Site-footer
        span
          a(href="https://plus.google.com/109985810023249441310/posts" rel="publisher") Welling Guzman
