if current.path[0] == 'index'
  hr
  header#header
    .Content-wrapper
      .Content-box.Content
          img.avatar(src="https://s.gravatar.com/avatar/9f5d2035d532a617a9146c358c9534e9?s=200")
          h1#name Welling Guzmán
          span#description.description Engineer writing software. These are my experiences.
        unless current.path[0] == 'notes' && current.source != 'index'
          - pageTitle = header_title || title;
          if header_title
            h1.Header-title #{pageTitle}
          if header_caption
            h4.Header-caption #{header_caption}
