if (header_image)
  - backgroundImage = header_image;
  - style = "background-image: url(" + backgroundImage + ");"
else
  - className = "no-image";
header.Main-header(class=className style=style)
  .Header-content
    unless current.path[0] == 'notes' && current.source != 'index'
      - pageTitle = header_title || title;
      h1.Header-title #{pageTitle}
      if header_caption
        h4.Header-caption #{header_caption}