header(id="header")
  .Content-wrapper
    .sitebar
      a.site-title(href="/")
        span.first welling
        span.last guzman
      nav(id="site-nav")
        ul.nav-links
          li: a(href="/") home
          li: a(href="/writing") writing
          li: a(href="/about") about