- if (yield) {
-   $ = cheerio.load(yield, {decodeEntities: false});
-   $('pre code[class|="language"]').each(function(i, el) {
-     var className, scopeName, codeHTML;
-     className = $(this).attr('class');
-     codeWrap    = '<pre>' + $(el).parents('pre').html() + '</pre>';
-     codeHTMLRaw = $(el).text();
-     codeHTML    = S($(el).html()).decodeHTMLEntities().s;
-     // @todo make this more dynamic
-     if (className=='language-javascript') scopeName = 'source.js';
-     if (className=='language-objective-c') scopeName = 'source.objc';
-     if (className=='language-php') scopeName = 'text.html.php';
-     if (className=='language-swift') scopeName = 'source.swift';
-     if (scopeName) {
-         code = highlighter.highlightSync({fileContents:codeHTML,scopeName: scopeName});
-         rel = className.replace('language-', '');
-         yield = yield.replace(codeWrap, code.replace('<pre class', '<pre rel="'+rel+'" class'));}
-   });
- }
- return yield;