- if (yield) {
-   $ = cheerio.load(yield, {decodeEntities: false});
-   $('pre code[class|="language"]').each(function(i, el) {
-     var className, scopeName, codeHTML;
-     className = $(this).attr('class');
-     codeWrap    = '<pre>' + $(el).parents('pre').html() + '</pre>';
-     codeHTML    = S($(el).html()).decodeHTMLEntities().s;
-
-     scopeName = partial('scopes', {className: className});
-     if (scopeName == 'text.html.php' && codeHTML.indexOf('<?php') !== 0) {
-       codeHTML = '<?php\n' + codeHTML;
-     }
-
-     if (scopeName) {
-       yield = S(yield).decodeHTMLEntities().s;
-       code = highlighter.highlightSync({fileContents:codeHTML,scopeName: scopeName});
-       rel = className.replace('language-', '');
-       yield = yield.replace(codeWrap, code.replace('<pre class', '<pre rel="'+rel+'" class'));
-     }
-   });
- }
- return yield;
