-   if (typeof languageId !== 'undefined') {
-       if (languageId == 'objective-c') {
-           languageId = 'objectivec';
-       }
-
-       return Prism.languages[languageId];
-   }
-
- return null;