unless notes.length
  p No notes were found

- var displayYearTitle = !!ifDef(displayYear, true);
if notes.length > 0
  if displayYearTitle === false
    - var note = notes.shift();
    ul.list
      while note
        include item
        - note = notes.shift();
  else
    - var lastYear, year;
    - var note = notes.shift();
    while note
      - year = moment(note.original_date || note.date).format('YYYY');
      - lastYear = year
        h2 #{ year }
        ul.list
          while year === lastYear
            include item
            - note = notes.shift();
            - year = note && moment(note.original_date || note.date).format('YYYY');
