unless notes.length
  p No notes were found

if notes.length > 0
  ul
    - note = notes.shift();
    while note
      li
        span: time.timestamp #{moment(note.original_date || note.date).format(formats.date)}
        span.sep &nbsp;
        span: a(href="#{note.path}") #{note.title}
      - note = notes.shift();
