- var blog = public.notes || public.public.notes;
- var postLimit = postLimit || 10;
- var posts = blog._data ? Object.keys(blog._data) : [];
- var indexPageIndex = posts.indexOf('index');
- // I do not need  the index to be part of the post lists
- if (indexPageIndex>-1) {
-   posts.splice(indexPageIndex,1);
- }
- return posts.map(function (slug) {
-   var post = blog._data[slug];
-   post.slug = slug;
-   post.url_relative = '/notes/' + post.slug;
-   post.url = site_url + post.url_relative;
-   post.date = post.date || new Date(0);
-   return post;
- }).filter(function (post) {
-   if (post.published===false) {
-     return false;
-   }
-   if (new Date(post.date) > new Date()) {
-     return false;
-   }
-   if (filter) {
-      return filter(post);
-   }
-   return post;
- }).sort(function(a,b){
-   if (!a.date) return 0;
-   a = +new Date(a.date);
-   b = +new Date(b.date);
-   return a-b;
- }).reverse().slice(0, postlimit)
