-   var scopes = [
-     'language-javascript'   => 'source.js',
-     'language-objective-c'  => 'source.objc',
-     'language-php'          => 'text.html.php',
-     'language-swift'        => 'source.swift',
-     'language-html'         => 'text.html.basic',
-     'language-css'          => 'source.css'
-   ];
-   
-   if (typeof className !== 'undefined') {
-     return scopes[className] || false;
-   }
-   
-   return false;
