-   // @todo make this more dynamic
-   var scopes = [];
-   scopes['language-javascript'] = 'source.js';
-   scopes['language-objective-c'] = 'source.objc';
-   scopes['language-php'] = 'text.html.php';
-   scopes['language-swift'] = 'source.swift';
-   scopes['language-html'] = 'text.html.basic';
-   scopes['language-css'] = 'source.css';
-   if (typeof className !== 'undefined') return scopes[className];
-   return;