.sitebar
  .Content-wrapper
    a.site-title(href="/")
      span.first welling
      span.last guzman
    nav.site-nav
      ul.nav-links
        if(main_nav)
          each url, label in main_nav
            li: a(href="#{url}") #{label}