.sitebar
  .Content-wrapper
    a.site-title(href="/")
      span.first welling
      span.last guzman
    nav.site-nav
      ul.nav-links
        li: a(href="/") home
        li: a(href="/notes") notes
        li: a(href="/about") about