- tag = filter !== undefined ? filter : current.path.splice(1, 1)[0];
- notes = partial('notes', { filter: function (post) {
-   return post.tags && post.tags.indexOf(tag) !== -1;
- }});

h2 Notes tagged with "#{tag}"

unless notes.length
  p No notes were found

if notes.length > 0
  ul
    - note = notes.shift();
    while note
      li
        span: time.timestamp #{moment(note.date).format(formats.date)}
        span.sep &nbsp;
        span: a(href="#{note.path}") #{note.title}
      - note = notes.shift();

a(href="/tags") All tags
