- tag = filter !== undefined ? filter : current.path.splice(1, 1)[0];
- notes = partial('data/notes', { filter: function (post) {
-   return post.tags && post.tags.indexOf(tag) !== -1;
- }});

unless notes.length
  p No notes were found

if notes.length > 0
  ul.list
    - note = notes.shift();
    while note
      include item
      - note = notes.shift();

a(href="/tags") All tags
