- tag = filter === undefined ? current.path.slice(-2, -1)[0] : filter;
- posts = partial('posts', { filter: function (post) {
-   if (post.tags && post.tags.indexOf(tag) !== -1) return true;
-   return false;
- }});


h2 Notes tagged with "#{tag}"

ul.List.Post-List
  - post = posts.shift();
  while post
    li.List-item
      .List-meta: time.Timestamp #{moment(post.date).format('MMMM DD, YYYY')}
      .List-text.Post-title: a(href="#{post.url}") #{post.title}
    - post = posts.shift();

.Content-bottom
  a.Button(href="/tags") All tags
