- var tagsData = public.tags._data;
- tagList = tagsData ? Object.keys(tagsData) : [];
- return tags.filter(function(key) {
-  var tag = tagsData[key];
-  if (tag) {
-    return tag.hidden !== true;
-  }
-  return true;
- });