extends ../_shared/layout

block content
  .Content-wrapper
    article.Post
      if current.path[0] == 'notes' && current.source != 'index'
        header.Post-header
          h1.Post-title #{title}
          h4.Post-meta
            span.Timestamp #{moment(date).format('dddd, MMMM Do, YYYY')}
            if (tags && tags.length)
              span.Tags
                each tag in tags
                  .Tag(href="#") #{tag}
      .Post-content
        content = partial('../_shared/highlight', {yield: yield})
        != content
        if (current.source != 'index')
      footer.Post-footer
        .Post-signature
          —
          a(href="http://twitter.com/WellingGuzman" target="_blank") @WellingGuzman