extends ../_shared/layout

block content
  .content
    article
      if (current.source === 'index')
        h1 #{title || current.source}
      else
        h1 Notes tagged "#{title || current.source}"
      hr
      != yield
