- tags = partial('../_shared/tags');
if tags.length === 0
  p Not found

each tag in tags
  - tagNotes = partial('../_shared/notes', { filter: function (note) {
  -   return note.tags && note.tags.indexOf(tag.name) >= 0;
  - }});

  if tagNotes.length > 0
    h2
      a(href="#{tag.path}") #{tag.title}
    ul
      - note = tagNotes.shift();
      while note
        include ../_shared/item
        - note = tagNotes.shift();
