- tags = partial('../_shared/tags');
if tags.length === 0
  h2 Notes not found
each tag in tags
  -   tagPosts = partial('../_shared/posts', { filter: function (post) {
  -     if (post.tags && post.tags.indexOf(tag) !== -1) return true;
  -     return false;
  -   }});

  h2.Tag-title= tag
  ul.List
    - post = tagPosts.shift();
    while post
      li.List-item
        .List-meta: time.Timestamp #{moment(post.date).format('MMMM DD, YYYY')}
        .List-text: a(href="#{post.url_relative}") #{post.title}
      - post = tagPosts.shift();