- tags = partial('../_shared/tags');
unless tags.length
  p Not found

if (tags.length > 0)
  - var maxTags = 1;
  each tag in tags
    - tagNotesCount = partial('../_shared/notes', { filter: function (note) {
    -   return note.tags && note.tags.indexOf(tag.name) >= 0;
    - }}).length;
    - if (tagNotesCount > maxTags) maxTags = tagNotesCount
  ul.tag-cloud
    each tag in tags
      - tagNotes = partial('../_shared/notes', { filter: function (note) {
      -   return note.tags && note.tags.indexOf(tag.name) >= 0;
      - }});

      if tagNotes.length > 0
        li
          - var fontSize = 100 + (tagNotes.length / maxTags) * 70;
          a(href="#{tag.path}",style="font-size: #{fontSize}%") #{tag.name}
          | 
