extends ../_shared/layout

block content
  article.Article
    .Content-wrapper
      .Article-content
        content = partial('../_shared/highlight', {yield: yield})
        != content
        if (current.source != 'index')
          .Article-signature
              —
              a(href="http://twitter.com/WellingGuzman") @WellingGuzman
      .Article-footer